<link rel="stylesheet" href="/css/main.css">
<script   src="https://code.jquery.com/jquery-3.4.1.js"   integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.1.1/gsap.js"></script>

<div class="wrap">
    
    <div class="video-icon"></div>

    <video class="video" poster="https://www.gorodovoy.spb.ru/upload/upload/videos/272652969129.jpg" data-id="0">
        <source src="https://video.gorodovoy.ru/upload/upload/videos/165586601422.mp4" type="video/mp4">
    </video>

    <video class="video" poster="https://www.gorodovoy.spb.ru/upload/upload/videos/897349460897.jpg" data-id="1">
        <source src="https://video.gorodovoy.ru/upload/upload/videos/943569827582.mp4" type="video/mp4">
    </video>

    <video class="video" poster="https://www.gorodovoy.spb.ru/upload/upload/videos/272652969129.jpg" data-id="2">
        <source src="https://video.gorodovoy.ru/upload/upload/videos/165586601422.mp4" type="video/mp4">
    </video>

    <video class="video" poster="https://www.gorodovoy.spb.ru/upload/upload/videos/272652969129.jpg" data-id="3">
        <source src="https://video.gorodovoy.ru/upload/upload/videos/165586601422.mp4" type="video/mp4">
    </video>

    <video class="video" poster="https://www.gorodovoy.spb.ru/upload/upload/videos/272652969129.jpg" data-id="4">
        <source src="https://video.gorodovoy.ru/upload/upload/videos/165586601422.mp4" type="video/mp4">
    </video>

    <video class="video" poster="https://www.gorodovoy.spb.ru/upload/upload/videos/272652969129.jpg" data-id="5">
        <source src="https://video.gorodovoy.ru/upload/upload/videos/165586601422.mp4" type="video/mp4">
    </video>

    <div class="wrap_controls">
        <div class="wrap_controls-left wrap_controls-control" data-dir="right"></div>
        <div class="wrap_controls-right wrap_controls-control" data-dir="left"></div>
    </div>
</div>

<script src="/js/main.js"></script>