<link rel="stylesheet" href="/css/main.css">
<script   src="https://code.jquery.com/jquery-3.4.1.js"   integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="   crossorigin="anonymous"></script>
<div class="wrap">

    <video class="video" poster="https://avatars.mds.yandex.net/get-ynews/2955992/b2840b050adc038778ec2e4c7eb6debd/856x460" data-id="0" controls autoplay>
        <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
        <source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
    </video>

    <video class="video" poster="https://avatars.mds.yandex.net/get-ynews/2763960/634c643b6a88af641222964b80fb3f84/856x460" data-id="1" controls autoplay>
        <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
        <source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
    </video>

    <video class="video" poster="https://avatars.mds.yandex.net/get-ynews/2816916/f0768aca27f10d2ddd74c793a6aace84/856x460" data-id="2" controls autoplay>
        <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
        <source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
    </video>

    <video class="video" poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" data-id="3" controls autoplay>
        <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
        <source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
    </video>
    
    <div class="wrap_controls">
        <div class="wrap_controls-left wrap_controls-control" data-dir="right"></div>
        <div class="wrap_controls-right wrap_controls-control" data-dir="left"></div>
    </div>
</div>

<script src="/js/main.js"></script>
